<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog</title>
    <link rel="stylesheet"  href="styles/create.css">
</head>
<body>
    <form action="/addpost" method="post">
    <div class="cont">

        <div class="heading">
            <p class="eh1" >Write your Blog</p>
        </div>
        <div class="dae" >
            
                <input class="title" id="ti" name="ti" type="text" placeholder="Subject">
            
          
                <input name="da" class="inputDate" type="date">
            
            
        </div>
        <div class="para">
            <textarea  name="para" class="pa"  placeholder="Write your text here..." rows="15" cols="100"></textarea>
                <button class="bu" >Post</button>
            </form>
        </div>
       
       
        
    </div>
</body>
</html>
