

<head>
    
    <title>Blog site</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    
</head>
<body>
    <div class="cont">
    
    <div class="main">
        <div class="heading">
           <p class="eh1">Blog </p>
           <p class="eh2">with the</p>
           <p class="eh2">best.</p>
        </div>

        <div class="buttons">

            <form action="/create" method="POST">
                <button class="b b1" inputmode="submit">Create Blog</button>
              </form>
              <form action="/view" method="post">
                <button class="b b2" inputmode="submit">View Blog</button>
              </form>
        </div>
            
    </div>


<div class="main2">

    <img class="img" src="images/img3.png" alt="">
</div>
</div>
       
   
</body>
</html>